﻿
@{
    ViewBag.Title = "Integration";
}

<h2>Repository Integration</h2>
<div>
    <label>Enter Git Lab Json</label><br />
    <input type="text" value="" id="txtGitLab" /><br /><br />
    <button type="button" id="btnGitLab" onclick="btnGitLabClick()">Git Lab</button>
</div>
<br />
<div>
    <label>Enter Git Hub Json</label><br />
    <input type="text" value="" id="txtGitHub" /><br /><br />
    <button type="button" id="btnGitHub" onclick="btnGitHubClick()">Git Hub</button>
</div>
<br />
<div>
    <label>Enter Bit Bucket Json</label><br />
    <input type="text" value="" id="txtBitBucket" /><br /><br />
    <button type="button" id="btnBitBucket" onclick="btnBitBucketClick()">Bit Bucket</button>
</div>
<br />

@section Scripts
{
    <script type="text/javascript">
        function btnGitLabClick()
        {
            $.ajax({
                      url: '/Home/GitLabJson',
                      async :false,  
                      type: 'POST',
                      data: JSON.stringify({ gitLabJson: $("#txtGitLab").val() }),
                      dataType: "JSON",
                      contentType: 'application/json; charset=utf-8',                      
                      success: function (data) { alert(data); }
                  });
        }

        function btnGitHubClick()
        {
            $.ajax({
                     url: '/Home/GitHubJson',
                     async: false,
                     type: 'POST',
                     data: JSON.stringify({ gitHubJson: $("#txtGitHub").val() }),
                     dataType: 'JSON',
                     contentType: 'application/json; charset=utf-8',
                     success: function (data) { alert(data); }
            });
        }

        function btnBitBucketClick()
        {
            $.ajax({
                     url: '/Home/BitBucketJson',
                     async:false,
                     type: 'POST',
                     data: JSON.stringify({ bitBucketJson: $("#txtBitBucket").val() }),
                     dataType: 'JSON',
                     contentType: 'application/json; charset=utf-8',
                     success: function (data) { alert(data); }
                   });
        }

    </script> 
       
}